# Local: http://localhost:8000. Teléfono en la LAN: http://IP_DEL_EQUIPO:8000
NEXT_PUBLIC_API_URL=http://localhost:8000
# Esta URL es pública y visible en el navegador. No colocar claves privadas.
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
NEXT_PUBLIC_DEFAULT_LATITUDE=-25.2867
NEXT_PUBLIC_DEFAULT_LONGITUDE=-57.3333
NEXT_PUBLIC_DEFAULT_ZOOM=11
